<h1>Chefs</h1>
<% @chefs.each do |chef|%>
  <p><%= chef.name%><%= button_to "Edit #{chef.name}", "/chefs/#{chef.id}/edit", method: :get %></p>
  <%= link_to "Delete #{chef.name}", "/chefs/#{chef.id}", method: :delete %>
<% end %>