<center>
<%= link_to "New Restaurant", "/restaurants/new" %>
<h1>Restaurants</h1>
<% @restaurants.each do |restaurant|%>
  <p><%= restaurant.name%></p>
  <p><%= "Created at: #{restaurant.created_at}" %></p>
<% end %>
</center>

